<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href='{% static "css/main.css" %}'>
		<link rel="stylesheet" href='{% static "css/forms.css" %}'>
		<link rel="stylesheet" href='{% static "css/especies.css" %}'>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
		<title>Parques Naturales - {% block title %}{% endblock %}</title>
		{% block head%} {% endblock %}
	</head>
	<body>
		<header style='background-image: url({% static "img/menu-banner.jpg" %})'>
			<h1 class="text-left title display-2">Parques Naturales</h1>
			<nav class="navigation">
				<a href="/especies">Especies</a>
                <a href="/especies/angular">Especies Angular</a>
				<a href="/registro">Registro</a>
				{% block navigation %}
				{% endblock %}
			</nav>
			<div class="right login-wrapper">
				{% if not user.is_authenticated %}
				<a href="/accounts/login" class="btn btn-success">Login</a>
				<a href="/registro" class="btn btn-secondary">Register</a>
				{% endif %}
				{% if user.is_authenticated %}
				<a href="/accounts/logout" class="btn btn-success">Logout</a>
				<a href="/registro/update" class="btn btn-secondary">Mi cuenta</a>
				{% endif%}
				<a href="/admin" class="btn btn-secondary">Admin Login</a>
			</div>
		</header>
		<div>
			{% block content %}
			{% endblock %}
		</div>

    {% block endscripts%} {% endblock %}
	</body>
</html>