.especies-view ul li{
    border: solid 1px #CCC;
    position: relative;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

.especies-view h2{
    margin: 25px auto 15px;
}

.especies-view ul li .img-wrapper{
    height: 200px;
    overflow: hidden;
    line-height: 200px;
    text-align: center;
}

.especies-view ul li .img-wrapper img{
    display: inline-block;
    vertical-align: middle;
}

.especies-view ul li strong{
    position: absolute;
    bottom: 0;
}

.especies-view ul li *{
    line-height: initial;
}

.especies-view .img-responsive{
    margin: 0 auto;
    display: block;
}

.comentario{
    width: 90%;

}