{% extends "base.html"%}
{% load static %}

{% block content %}
<div class="especies-view container" id="eventosList">
	<h2 class="display-4 text-center">Lista de eventos</h2>
    <b><a href="/evento/add">Agregar un evento</a></b>
	<ul class="row list" id="especiesListWrapper">

	</ul>
	{% for evento in lista_eventos %}
	<li>
		<strong><b><a href="/evento/details/{{evento.id}}/">{{evento.nombre}}</a></b></strong>
		- <a href="/evento/update/{{evento.id}}/"><i>Editar</i></a>
		- <a href="/evento/delete/{{evento.id}}/"><i>Borrar</i></a>
	</li>
	{% endfor %}

	<ul class="pagination"></ul>
</div>

{% endblock %}